In [3]:

#Data pre-processing, imputing missing values (mean imputation) , train-test split and
#label encoding of the categorical variables

In [2]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#import data sets
"""Anytime you have to import the datasets, you need to setup the working directory
and that must be the folder that contains your datasets
How to CD to a diff drive using jupyter?"""

dataset = pd.read_csv('Data.csv')

In [11]:
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [4]:

dataset.describe()

             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

In [5]:
"""now we need to put the independant variables to matrix i.e first 3 col as x
and then we will create a dependant variables vector which is the purchased column"""

"""# [left of the comma is row and right is column] """
X=dataset.iloc[:, :-1]
y=dataset.iloc[:,3]

In [10]:
"""handling missing data Age and Salary
We impute the data with the mean.  Press ctrl i to take the hint"""

from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN' , strategy ='mean' , axis = 0)


"""fit the imputer object to the X"""
imputer.fit(X.iloc[:, 1:3])
X.iloc[:,1:3] = imputer.transform(X.iloc[:,1:3])

In [16]:
"""Categorical Variables are country and Purchased so we need to encode them to numbers
encoding categorical data"""
#Let's encode the 1st column of the dataset
from sklearn.preprocessing import LabelEncoder 
labelencoder_X = LabelEncoder()
X.iloc[:,0]=labelencoder_X.fit_transform(X.iloc[:,0])

In [19]:
#let's check the variable country
X
#perfect, the values are encoded but the values are in 0,1,2 and ML models might think that 2 i.e Spain is great than France
#therefore, we need to create three columns for each category of the country and plot the values as 0 1 in each column

   Country        Age        Salary
0        0  44.000000  72000.000000
1        2  27.000000  48000.000000
2        1  30.000000  54000.000000
3        2  38.000000  61000.000000
4        1  40.000000  63777.777778
5        0  35.000000  58000.000000
6        2  38.777778  52000.000000
7        0  48.000000  79000.000000
8        1  50.000000  83000.000000
9        0  37.000000  67000.000000

In [29]:
#same as above but a slight change that we are importing another class

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:,0]=labelencoder_X.fit_transform(X[:,0])
onehotencoder = OneHotEncoder(categorical_features = [0])
X = onehotencoder.fit_transform(X).toarray()

In [33]:
#encoding the dependant variable

labelencoder_y = LabelEncoder()
y=labelencoder_y.fit_transform(y)

In [35]:
"""split the dataset into train test split"""
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y , test_size = 0.2 , random_state = 0)

In [39]:
#feature Scaling
#What is feature scaling?
'''Age and Salary contains numbers but not in the same scale as Age is going from 27 to 50
and salary is going from 42,000 to 90,000. 
ML models are based Euclidean Distance and since there is a big gap between Age and Salary, Euclidean distance is
dominated by salary'''

'''There are two types of features scaling: Standardiation and Normalisation

standardisation= value-mean(all value)/standard deviation(all value)
normalisation= value-min(all values)/max(all value)-min(all value)


With these techniques, we are putting our variables on the same scale so that no variables dominates other
'''

'Age and Salary contains numbers but not in the same scale as Age is going from 27 to 50\nand salary is going from 42,000 to 90,000. \nML models are based Euclidean Distance and since there is a big gap between Age and Salary, Euclidean distance is\ndominated by salary'

In [41]:
#practical Feature Scaling on Age and Salary
#let's start by scaling independant variables

from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()

X_train = sc_X.fit_transform(X_train)
X_test= sc_X.transform(X_test)

In [42]:
X_train

array([[-1.        ,  1.        , -1.        ,  2.64575131, -0.77459667,
         0.26306757,  0.12381479],
       [ 1.        , -1.        ,  1.        , -0.37796447, -0.77459667,
        -0.25350148,  0.46175632],
       [-1.        ,  1.        , -1.        , -0.37796447,  1.29099445,
        -1.97539832, -1.53093341],
       [-1.        ,  1.        , -1.        , -0.37796447,  1.29099445,
         0.05261351, -1.11141978],
       [ 1.        , -1.        ,  1.        , -0.37796447, -0.77459667,
         1.64058505,  1.7202972 ],
       [-1.        ,  1.        , -1.        , -0.37796447,  1.29099445,
        -0.0813118 , -0.16751412],
       [ 1.        , -1.        ,  1.        , -0.37796447, -0.77459667,
         0.95182631,  0.98614835],
       [ 1.        , -1.        ,  1.        , -0.37796447, -0.77459667,
        -0.59788085, -0.48214934]])